---
import Logo from './Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Revalidation', href: '/revalidation' },
    { linkText: 'Image CDN', href: '/image-cdn' },
    { linkText: 'Edge Function', href: '/edge' },
    { linkText: 'Blobs', href: '/blobs' }
];
---

<nav class="fixed top-0 left-0 w-64 h-screen pt-6 pb-6 border-r border-white/10 flex flex-col">
    <a href="/" class="block mb-8">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="space-y-2 px-6 mb-6">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="block px-3 py-2 rounded-lg hover:bg-white/5 transition-colors">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
    <div id="wf-offer-cta" class="w-full h-[405px] flex"></div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.WayflyerEmbedSdk.init({
            apiKey: 'your_api_key_here'
        });
    });
</script>
